.button-wrapper {
  position: relative;
  display: flex;
  padding-top: 15px;

  @media (min-width: @tablet-width) {
    padding: 0;
  }

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 240px;
    border: 1px solid #d9d9d9;

    @media (min-width: @tablet-width) {
      display: none;
    }
  }
}
