.catalog-page {
  padding: 0 20px;
  width: 280px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 708px;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 70px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    margin: 0 auto;
  }

  &::before {
    content: "";
    display: block;
    width: 320px;
    height: 1px;
    background-color: #d9d9d9;
    margin-bottom: 27px;
    margin-left: -20px;

    @media (min-width: @tablet-width) {
      display: none;
    }
  }

  &__main-title {
    margin: 0;
    padding: 0;
    margin-bottom: 41px;
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;

    @media (min-width: @tablet-width) {
      font-size: 60px;
      line-height: 60px;
      margin-bottom: 84px;
    }

    @media (min-width: @desktop-width) {
      margin: 0;
      padding: 75px 0 80px;
    }
  }
}
