.control {
  position: relative;
  display: flex;
  min-height: 30px;
}

.control__label {
  font-size: 16px;
  text-transform: uppercase;
  color: #444444;
  margin-left: 45px;
  align-self: center;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin-left: 60px;
    align-self: flex-end;
  }
}

.control__mark-filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  border-radius: 50%;

  @media (min-width: @tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.control__mark-product {
  position: absolute;
  top: 0;
  left: 0;
  width: 28px;
  height: 28px;
  border: 1px solid #cdcdcd;

  @media (min-width: @tablet-width) {
    width: 38px;
    height: 38px;
  }
}


//Псевдоэлемент кнопки
.control__input[type="radio"]:checked + .control__mark-filter::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  transform: translate(50%, 50%);
  width: 15px;
  height: 15px;
  background-color: #68b738;
  border-radius: 50%;

  @media (min-width: @tablet-width) {
    width: 20px;
    height: 20px;
  }
}

//Обводка кнопки при наведении
.control__input[type="radio"] + .control__mark-filter:hover {
  border: 1px solid #bababa;
}

//Обводка кнопки при отключенном состоянии
.control__input[type="radio"]:disabled + .control__mark-filter {
  border: 1px solid #bababa4d;
}

//Псевдоэлемент кнопки при отключенном состоянии
.control__input[type="radio"]:disabled + .control__mark-product::before {
  border: 1px solid #68b7384d;
}

//Цвет текста при отключенном состоянии
.control__input[type="radio"]:disabled + .control__label {
  color: #2222224d;
}

//Псевдоэлемент чекбокса
.control__input[type="checkbox"]:checked + .control__mark-product::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 26px;
  height: 26px;
  background: url("../img/sprite.svg#product-tick");

  @media (min-width: @tablet-width) {
    width: 38px;
    height: 37px;
  }
}

//Обводка чека при наведении
.control__input[type="checkbox"] + .control__mark-product:hover {
  border: 1px solid #bababa;
}

//Обводка чека при отключенном состоянии
.control__input[type="checkbox"]:disabled + .control__mark-product {
  border: 1px solid #bababa4d;
}

//Псевдоэлемент чека при отключенном состоянии
.control__input[type="checkbox"]:disabled + .control__mark-product::before {
  border: 1px solid #68b7384d;
}

//Цвет текста при отключенном состоянии
.control__input[type="checkbox"]:disabled + .control__label {
  color: #2222224d;
}
