.example {
  background: #eaeaea;

  @media (min-width: @tablet-width) {
    width: 708px;
  }
}

.example h2 {
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 40px;
}

.example p {
  margin-bottom: 20px;
}

.example__description {
  display: flex;
}

.example__wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
  }
}
