.example {
  background: #eaeaea;

  @media (min-width: @tablet-width) {
    width: 708px;
  }
}

.example h2 {
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 40px;
}

.example p {
  color: #444444;
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

// .example__wrapper {
//   @media (min-width: @tablet-width) {
//     display: flex;
//   }
// }

.example__item {
  display: flex;
  margin-bottom: 20px;
}

.example__parameter {
  font-size: 24px;
  line-height: 24px;
}

.example__meaning {
  color: #444444;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 12px;
}

.example__expenses {
  line-height: 20px;
  text-transform: uppercase;
}
