.example {
  background: #eaeaea;
  width: 280px;
  padding: 0 20px;
  margin-bottom: 26px;

  &__parameter {
    font-size: 24px;
    line-height: 24px;
    padding-top: 14px;
    padding-bottom: 7px;
  }

  &__item {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__description {
    display: grid;
    grid-template-columns: repeat(2, 140px);
  }

  &__block-title {
    margin: 0;
    padding: 0;
    font-size: 24px;
    line-height: 26px;
  }

  &__expenses {
    line-height: 20px;
    text-transform: uppercase;
    grid-column: 1/3;
    justify-self: center;
  }

  &__meaning {
    color: #444444;
    font-family: "Lato", sans-serif;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    margin-bottom: 20px;
  }

  @media (min-width: @tablet-width) {
    width: 708px;
  }
}

.example h2 {
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 40px;
}

.example p {
  color: #444444;
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

// .example__wrapper {
//   @media (min-width: @tablet-width) {
//     display: flex;
//   }
// }
