.main-background {
  object-fit: cover;

  @media (min-width: @desktop-width) {
    background: linear-gradient(to left, #68b738d9 50%, transparent 50%), url("..//..//img/cat-background-desktop.png") right top, linear-gradient(to left, #4c4a4f 50%, transparent 50%);
    background-repeat: no-repeat;
    background-size: auto 693px;

    @media (min-resolution: 2dppx) {
      background: linear-gradient(to left, #68b738d9 50%, transparent 50%), url("..//..//img/cat-background-desktop.png") right top, linear-gradient(to left, #4c4a4f 50%, transparent 50%);
      background-repeat: no-repeat;
      background-size: auto 693px;
    }
  }
}
