.main-nav {
  display: flex;
  flex-direction: column;
}

.main-nav__list {
  display: none;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .main-nav__list {
    display: flex;
    min-width: 436px;
    justify-content: space-between;
  }
}
