.main-footer {
  background-color: #f2f2f2;
  padding: 40px 20px;
  margin: 0 auto;
  width: 280px;

  &__wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (min-width: @tablet-width) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__logo {
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;

    @media (min-width: @tablet-width) {
      padding: 0;
    }

    &::after {
      position: absolute;
      content: "";
      min-width: 280px;
      height: 1px;
      bottom: 0;
      background-color: #d9d9d9;

      @media (min-width: @tablet-width) {
        display: none;
      }
    }
  }

  &__logo-link {
    &:hover,
    &:focus,
    &:focus-within {
      opacity: 0.6;
    }

    &:active .main-footer__logo-text {
      opacity: 0.3;
    }
  }

  @media (min-width: @tablet-width) {
    padding: 55px 30px;
    width: 708px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    margin: 0 auto;
    padding: 66px 110px;
  }
}
