.main-header {
  width: 280px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 708px;
    margin: 0 auto;
    padding: 12px 30px 52px;
    display: flex;
    gap: 97px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    margin: 0 auto;
    padding: 42px 110px 61px;
    gap: 541px;
  }

  &__wrapper {
    min-height: 38px;
    display: flex;
    gap: 56px;
    padding: 13px 0;
    padding-bottom: 11px;
    align-items: center;

    @media (min-width: @tablet-width) {
      gap: 13px;
    }
  }

  &__logo-cat img {
    @media (min-width: @tablet-width) {
      width: 60px;
      height: 50px;
    }

    @media (min-width: @desktop-width) {
      width: 70px;
      height: 59px;
    }
  }

  &__logo-text img {
    @media (min-width: @desktop-width) {
      width: 118px;
      height: 21px;
    }
  }

  &__logo-link {
    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }
}
