.page {
  height: 100%;

  &__body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "Oswald", "Tahoma", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 18px;
    margin: 0 auto;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    margin: 0 auto;
  }
}
