.present {
  background-image: linear-gradient(#68b738d9 100%, #ffffff 60%), url("../../img/cat-case-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 280px;
  height: 289px;
  margin: 0 auto;
  margin-bottom: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  justify-content: flex-end;

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(#68b738d9 100%, #ffffff 60%), url("../../img/cat-case-mobile@2x.png");
    background-size: 280px;
  }

  @media (min-width: @tablet-width) {
    flex-direction: row;
    padding: 0 73px;
    box-sizing: border-box;
    width: 707px;
    height: 200px;
    background-image: linear-gradient(#68b738d9 100%, #ffffff 60%), url("../../img/cat-case-tablet.png");
    justify-content: flex-start;
    gap: 264px;
    margin-bottom: 75px;

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(#68b738d9 100%, #ffffff 60%), url("../../img/cat-case-tablet@2x.png");
      background-size: 707px;
    }
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
    width: 245px;
    height: 288px;
    padding: 53px 73px 0;
    gap: 46px;
    background-image: linear-gradient(#68b738d9 100%, #ffffff 60%), url("../../img/cat-case-desktop.png");

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(#68b738d9 100%, #ffffff 60%), url("../../img/cat-case-desktop@2x.png");
      background-size: 245px;
    }
  }

  &__description {
    display: block;
    color: #ffffff;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    line-height: 20px;
    width: 161px;
    margin: 0 auto;
    margin-bottom: 40px;

    @media (min-width: @tablet-width) {
      margin: 0;
    }
  }

  &__icon {
    background-image: url("../../img/sprite.svg#present-icon");
    background-repeat: no-repeat;
    width: 78px;
    height: 80px;
  }
}
