.products {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;

  &__item {
    display: flex;
    justify-content: space-between;
  }

  &__card {
    position: relative;
    padding-top: 20px;
    padding-bottom: 25px;
    display: grid;
    grid-template-columns: repeat(2, 140px);
    grid-template-rows: 56px 56px 40px;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 320px;
      height: 1px;
      background-color: #ebebeb;
      margin-left: -20px;
    }
  }
}

.products p {
  color: #222222;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.products__list {
  margin: 0;
  padding: 0;
}

.products__description {
  color: #444444;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 16px;
}

.products__link {
  grid-row: 1/3;
}
