.products {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;

  @media (min-width: @tablet-width) {
    width: 708px;
    margin: 0 auto;
    grid-template-columns: repeat(2, 324px);
    grid-template-rows: 511px;
    gap: 60px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    margin: 0 auto;
    grid-template-columns: repeat(4, 245px);
    gap: 80px;
    margin-bottom: 76px;
  }

  &__link--img {
    grid-row: 1/3;

    @media (min-width: @tablet-width) {
      grid-column: 1/3;
      // align-self: center;
      justify-self: center;
      grid-row: 1/2;
    }
  }

  &__link--title {
    @media (min-width: @tablet-width) {
      grid-column: 1/3;
      align-self: center;
      padding: 0 65px;
    }

    @media (min-width: @desktop-width) {
      padding: 0 20px;
    }
  }

  &__list {
    margin: 0;
    padding: 0;

    @media (min-width: @tablet-width) {
      grid-column: 1/3;
      font-size: 16px;
      line-height: 20px;
    }
  }

  &__options {
    color: #444444;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 12px;
    line-height: 16px;

    @media (min-width: @tablet-width) {
      font-family: "Lato", sans-serif;
      font-size: 16px;
      line-height: 20px;
    }
  }

  &__description {
    color: #444444;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 12px;
    line-height: 16px;

    @media (min-width: @tablet-width) {
      font-family: "Lato", sans-serif;
      font-size: 16px;
      line-height: 20px;
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;

    @media (min-width: @tablet-width) {
      border-bottom: 1px solid #cdcdcd;
    }
  }

  &__title {
    color: #222222;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    padding-right: 45px;
    margin-bottom: 8px;

    @media (min-width: @tablet-width) {
      padding: 0;
      margin: 0;
      text-align: center;
      font-size: 20px;
      line-height: 24px;
    }
  }

  &__card {
    position: relative;
    padding-top: 20px;
    padding-bottom: 25px;
    display: grid;
    grid-template-columns: repeat(2, 140px);
    grid-template-rows: 56px 56px 40px;
    row-gap: 10px;

    @media (min-width: @tablet-width) {
      padding: 10px 37px 40px 37px;
      grid-template-columns: repeat(2, 125px);
      grid-template-rows: 210px 48px 84px 40px;
      row-gap: 22px;
      // border: 1px solid;
      background: linear-gradient(to top, #eaeaea 430px, transparent 430px, transparent 100%);
    }

    @media (min-width: @desktop-width) {
      grid-template-columns: repeat(2, 85px);
    }

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 320px;
      height: 1px;
      background-color: #ebebeb;
      margin-left: -20px;

      @media (min-width: @tablet-width) {
        display: none;
      }
    }
  }
}

.products img {
  @media (min-width: @tablet-width) {
    width: 200px;
    height: auto;
  }

  @media (min-width: @desktop-width) {
    width: 169px;
    height: auto;
  }
}
