.selection-contacts {
  position: relative;
  margin-bottom: 24px;

  // &::before {
  //   position: absolute;
  //   content: "";
  //   top: 15px;
  //   right: -20px;
  //   width: 93px;
  //   height: 2px;
  //   background-color: #68b738;
  //   margin-left: -20px;
  // }

  &__field {
    color: #444444;
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    flex: 1;
    border: 1px solid #e7e7e7;
    padding-bottom: 13px;
    padding-top: 14px;
    padding-left: 15px;
    padding-right: 10px;
  }

  &__label {
    font-size: 16px;
    text-transform: uppercase;
    color: #444444;
    margin-right: 13px;
    padding: 14px 0;
    padding-bottom: 13px;
  }

  &__block-title {
    margin: 0;
    padding: 0;
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 35px;
  }

  &__item {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-bottom: 14px;
  }

  &__wrapper {
    display: flex;
    gap: 20px;

    &::before {
      content: "";
      height: 15px;
      width: calc(50% - 160px);
      border-bottom: 2px solid #68b738;
    }

    &::after {
      content: "";
      height: 15px;
      width: 10px;
      border-bottom: 2px solid #68b738;
      flex-grow: 1;
    }
  }
}
