.selection {
  width: 100%;
  margin: 0 auto;
}

.selection__wrapper {
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 628px;
    margin: 0 auto;
    margin-bottom: 65px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    gap: 80px;
    width: 1220px;
    margin: 0 auto;
    margin-bottom: 54px;
    align-items: flex-start;
  }
}
