.selection-products {
  margin: 0 auto;
  border: none;
  padding: 25px 0 0;

  @media (min-width: @tablet-width) {
    margin: 0 auto;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    margin-bottom: 12px;
  }

  &__item-title {
    margin: 0;
    color: #222222;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    margin-bottom: 13px;

    @media (min-width: @tablet-width) {
      margin: 0;
      font-size: 20px;
      line-height: 20px;
    }
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0 20px;
    margin-bottom: 33px;

    @media (min-width: @tablet-width) {
      display: grid;
      grid-template-columns: 1fr;
      width: 708px;
      margin: 0 auto;
      padding: 0;
      margin-bottom: 69px;
    }

    @media (min-width: @desktop-width) {
      display: flex;
      flex-direction: column;
      width: 1220px;
      margin: 0 auto;
    }
  }

  &__item {
    padding: 12px 0 19px;
    border-top: 1px solid #cdcdcd;

    @media (min-width: @tablet-width) {
      display: grid;
      grid-template-columns: 200px 1fr;
      padding: 27px 38px 29px;
      border: 1px solid #cdcdcd;
      border-bottom: none;
      row-gap: 22px;
    }

    @media (min-width: @desktop-width) {
      grid-template-columns: 1fr 284px 244px;
      border: none;
      border-top: 1px solid #cdcdcd;
      padding: 15px 0 16px;
      justify-content: space-between;
      column-gap: 40px;
      align-items: center;
    }
  }

  &__wrapper {
    width: 320px;
    margin: 0 auto;

    @media (min-width: @tablet-width) {
      width: 708px;
    }

    @media (min-width: @desktop-width) {
      width: 1220px;
      display: flex;
      justify-content: space-between;
      column-gap: 81px;
    }
  }

  &__item:last-child {
    border-bottom: 1px solid #cdcdcd;
  }

  &__item-wrapper {
    display: flex;
    margin: 0;
    justify-content: space-between;

    @media (min-width: @tablet-width) {
      justify-content: flex-end;
      column-gap: 50px;
    }

    @media (min-width: @desktop-width) {
      justify-content: space-between;
    }
  }

  // &__item-wrapper {
  //   display: flex;
  //   justify-content: space-between;
  //   column-gap: 50px;

  //   @media (min-width: @tablet-width) {
  //     justify-content: flex-end;
  //     column-gap: 50px;
  //   }

  //   @media (min-width: @desktop-width) {
  //     display: flex;
  //     justify-content: space-between;
  //   }
  // }
}

.selection-products__options {
  color: #444444;
  font-family: "Lato", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 15px;
  // float: left;

  @media (min-width: @tablet-width) {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
  }
}

.selection-products__description {
  color: #444444;
  font-family: "Lato", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 14px;
  // text-align: end;

  @media (min-width: @tablet-width) {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
  }
}
