.selection-comment {
  margin-bottom: 23px;

  @media (min-width: @desktop-width) {
    margin-bottom: 70px;
  }

  &__wrapper {
    width: 280px;
    margin: 0 auto;

    @media (min-width: @tablet-width) {
      width: 628px;
      margin: 0 auto;
      margin-bottom: 65px;
    }

    @media (min-width: @desktop-width) {
      width: 1220px;
      margin: 0 auto;
    }
  }

  &__field {
    width: 280px;
    min-height: 150px;
    color: #444444;
    font-family: "Oswald", "Tahoma", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    border: 1px solid #e7e7e7;
    padding: 0;
    padding-left: 5px;

    @media (min-width: @tablet-width) {
      font-size: 20px;
      line-height: 30px;
      width: 628px;
      margin: 0 auto;
      padding: 0 20px;
      box-sizing: border-box;
    }

    @media (min-width: @desktop-width) {
      width: 1220px;
      font-size: 20px;
      line-height: 30px;
    }
  }

  input::placeholder {
    transform: translateY(-50px);
  }
}
