.selection-filter {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  padding: 22px 20px 19px;
  margin-bottom: 26px;

  @media (min-width: @tablet-width) {
    width: 628px;
    margin: 0 auto;
    padding: 22px 27px 27px;
    box-sizing: border-box;
    border: 1px solid #d9d9d9;
  }

  @media (min-width: @desktop-width) {
    flex: 1;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item:not(:last-child) {
    margin-bottom: 25px;
  }
}
