.selection-products {
  // width: 320px;
  padding: 0;
  margin: 0 auto;
  border: none;
  padding-top: 20px;

  @media (min-width: @tablet-width) {
    // width: 768px;
    margin: 0 auto;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    // width: 1440px;
    margin: 0 auto;
    margin-bottom: 60px;
  }

  &__item-title {
    margin: 0;
    color: #222222;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    margin-bottom: 13px;

    @media (min-width: @tablet-width) {
      margin: 0;
      font-size: 20px;
      line-height: 20px;
    }
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0 20px;
    margin-bottom: 35px;

    @media (min-width: @tablet-width) {
      display: grid;
      grid-template-columns: 1fr;
      width: 708px;
      margin: 0 auto;
      padding: 0;
      margin-bottom: 70px;
    }

    @media (min-width: @desktop-width) {
      display: flex;
      flex-direction: column;
      width: 1220px;
      margin: 0 auto;
    }
  }

  &__item {
    padding: 13px 0 19px;
    border-top: 1px solid #cdcdcd;
    // border-bottom: 1px solid #cdcdcd;

    @media (min-width: @tablet-width) {
      display: grid;
      grid-template-columns: 200px 1fr;
      padding: 26px 38px 28px;
      border: 1px solid #cdcdcd;
      border-bottom: none;
      row-gap: 22px;
    }

    @media (min-width: @desktop-width) {
      // flex: 1;
      grid-template-columns: 1fr 263px 244px;
      border: none;
      border-top: 1px solid #cdcdcd;
      // border-bottom: 1px solid #cdcdcd;
      padding: 15px 0 17px;
      justify-content: space-between;
      column-gap: 40px;
      align-items: center;
    }
  }

  &__wrapper {
    width: 320px;
    margin: 0 auto;

    @media (min-width: @tablet-width) {
      width: 708px;
    }

    @media (min-width: @desktop-width) {
      width: 1220px;
      display: flex;
      justify-content: space-between;
      column-gap: 81px;
    }
  }

  &__item:last-child {
    border-bottom: 1px solid #cdcdcd;
  }

  &__item-wrapper {
    display: flex;
    justify-content: space-between;
    column-gap: 50px;

    @media (min-width: @tablet-width) {
      justify-content: flex-end;
      column-gap: 50px;
    }

    @media (min-width: @desktop-width) {
      display: flex;
      justify-content: space-between;
    }
  }
}

.selection-products__options {
  color: #444444;
  font-family: "Lato", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 15px;

  @media (min-width: @tablet-width) {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
  }
}

.selection-products__description {
  color: #444444;
  font-family: "Lato", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 14px;

  @media (min-width: @tablet-width) {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
  }
}
