.selection-products {
  position: relative;
  width: 280px;
  margin: 0 auto;
  border: none;

  // &::before {
  //   position: absolute;
  //   content: "";
  //   top: -60px;
  //   right: -20px;
  //   width: 139px;
  //   height: 2px;
  //   background-color: #68b738;
  //   margin-left: -20px;
  // }

  @media (min-width: @tablet-width) {
    width: 708px;
    margin: 0 auto;
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    margin: 0 auto;
  }

  &__title {
    position: relative;
    margin-bottom: 49px;
    font-size: 24px;
    line-height: 26px;

    &::before {
      position: absolute;
      content: "";
      top: 15px;
      left: 160px;
      width: 139px;
      height: 2px;
      background-color: #68b738;
    }
  }

  &__block-title {
    margin: 0;
    padding: 0;
    margin-bottom: 36px;
    font-size: 24px;
    line-height: 26px;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 35px;

    @media (min-width: @tablet-width) {
      display: grid;
      grid-template-columns: 632px;
      padding: 26px 38px 38px 28px;
    }

    @media (min-width: @desktop-width) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__item {
    margin-bottom: 13px;
  }

  &__wrapper {
    @media (min-width: @desktop-width) {
      display: flex;
      justify-content: space-between;
    }
  }

  // &__item {
  //   &::before,
  //   &::after {
  //     content: "";
  //     display: block;
  //     width: 320px;
  //     height: 1px;
  //     background-color: #d9d9d9;
  //     margin-left: -20px;
  //   }

  //   @media (min-width: @tablet-width) {
  //     margin-bottom: 32px;
  //   }
  // }
}

.selection-products p {
  margin: 0;
  padding: 13px 0;
  color: #222222;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}

.selection-products__options {
  color: #444444;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 15px;
}

.selection-products__description {
  color: #444444;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 14px;
}

.selection-products__item-wrapper {
  display: flex;
  justify-content: space-between;
  width: 280px;

  @media (min-width: @tablet-width) {
    width: 632px;
  }
}
