.social {
  position: relative;
  padding-bottom: 20px;

  @media (min-width: @tablet-width) {
    padding: 0;
  }

  &__list {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 24px;
    margin: 0;
    padding: 0;

    &::after {
      position: absolute;
      content: "";
      min-width: 280px;
      height: 1px;
      bottom: 0;
      background-color: #d9d9d9;

      @media (min-width: @tablet-width) {
        display: none;
      }
    }
  }
}

.social__icon--vkontakte {
  mask-image: url("../img/sprite.svg#vkontakte");
  background-color: #666666;
  width: 28px;
  height: 22px;

  &:hover {
    background-color: #68b738;
  }
}

.social__icon--youtube {
  mask-image: url("../img/sprite.svg#youtube");
  background-color: #666666;
  width: 28px;
  height: 22px;

  &:hover {
    background-color: #68b738;
  }
}

.social__icon--telegram {
  mask-image: url("../img/sprite.svg#telegram");
  background-color: #666666;
  width: 28px;
  height: 22px;

  &:hover {
    background-color: #68b738;
  }
}
